@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: 10px;
}
/* 전체배경 */
body {
    background-image: linear-gradient(to bottom, rgb(224, 224, 224) 30%, rgb(255, 241, 202) 70%);
}
*{
    /* outline: 1px dashed coral; */
}

/* 로고 */
.head{
    z-index: 99999999999999999999999999999999999999999;
    background-color: #fff;
    border-bottom: 2px solid #000;
    position: absolute;
}

h1{
    text-align: center;
    width: 100vw;
    height: 3rem;
    font-weight: bold;
}

h1 a{
    line-height: 3rem;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
}

.gnb{
    position: absolute;
    right: 2vw;
    top: -5px;
}

.gnb span{
    font-size: 3rem;
    line-height: 3rem;
}

/* 컨텐츠 시작 */
.cont{
    width: 100vw;
    height: 100vh;
}

.one{
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    animation: rkAni 8s ease-in-out infinite alternate;
    z-index: -1;
}

.one div img{
    box-shadow: 1px 1px 3px#000;
}

.one img{
    width: 50px;
    height: 100px;
    position: absolute;
    left: calc(50% - 25px);
    border-radius: 5px;
}

.one .fool img{
    top: -200px;
}

.rotate{
    top: -175px;
    left: 25px;
    height: 200px;
    position: absolute;
    transform-origin: center bottom;
}

/* 세계 */
.wor{
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
    position: relative;
    animation: rrkAni 8s ease-in-out infinite alternate;
    transform-origin: center center;
}
.wor img{
    position: relative;
    top: -25px;
}

/* 바보 */
.rotate1{
    transform: rotate(0deg);
}
.one .rotate1 .fool img{
    top: -50px;
}

/* 마술사 */
.rotate2{
    transform: rotate(30deg);
}
.one .rotate2 .mage img{
    top: -50px;
}

/* 여교황 */
.rotate3{
    transform: rotate(60deg);
}
.one .pri img{
    top: -50px;
}

/* 여제 */
.rotate4{
    transform: rotate(90deg);
}
.one .emp img{
    top: -50px;
    left: -25px;
}

/* 황제 */
.rotate5{
    transform: rotate(120deg);
}
.one .emper img{
    top: -50px;
    left: -25px;
}

/* 교황 */
.rotate6{
    transform: rotate(150deg);
}
.one .hir img{
    top: -50px;
    left: -25px;
}

/* 연인 */
.rotate7{
    transform: rotate(180deg);
}
.one .love img{
    top: -50px;
    left: -25px;
}

/* 전차 */
.rotate8{
    transform: rotate(210deg);
}
.one .cha img{
    top: -50px;
    left: -25px;
}

/* 힘 */
.rotate9{
    transform: rotate(240deg);
}
.one .str img{
    top: -50px;
    left: -25px;
}

/* 은둔자 */
.rotate10{
    transform: rotate(270deg);
}
.one .her img{
    top: -50px;
    left: -25px;
}

/* 운명의 수레바퀴 */
.rotate11{
    transform: rotate(300deg);
}
.one .wheel img{
    top: -50px;
    left: -25px;
}

/* 정의 */
.rotate12{
    transform: rotate(330deg);
}
.one .jus img{
    top: -50px;
    left: -25px;
}

/* 매달린 남자 */
.rotate13{
    transform: rotate(0deg);
}
.one .hang img{
    top: -200px;
    left: -25px;
}

/* 죽음 */
.rotate14{
    transform: rotate(40deg);
}
.one .death img{
    top: -200px;
    left: -25px;
}
/* 절제 */
.rotate15{
    transform: rotate(80deg);
}
.one .tem img{
    top: -200px;
    left: -25px;
}

/* 악마 */
.rotate16{
    transform: rotate(120deg);
}
.one .dev img{
    top: -200px;
    left: -25px;
}

/* 탑 */
.rotate17{
    transform: rotate(160deg);
}
.one .tower img{
    top: -200px;
    left: -25px;
}

/* 별 */
.rotate18{
    transform: rotate(200deg);
}
.one .star img{
    top: -200px;
    left: -25px;
}

/* 달 */
.rotate19{
    transform: rotate(240deg);
}
.one .moon img{
    top: -200px;
    left: -25px;
}

/* 해 */
.rotate20{
    transform: rotate(280deg);
}
.one .sun img{
    top: -200px;
    left: -25px;
}

/* 심판 */
.rotate21{
    transform: rotate(320deg);
}
.one .judge img{
    top: -200px;
    left: -25px;
}

/* 애니메이션 영역 */
.roro{
    animation: rrkAni 7s ease-in-out infinite forwards alternate;
}

@keyframes rkAni {
    to{
        transform: rotate(360deg);
    }
}

@keyframes rrkAni {
    to{
        transform: rotate(-360deg);
    }
}

/* 푸터 */
.info{
    height: 3rem;
    width: 100vw;
    position: absolute;
    bottom: 0;
    background-color: rgb(73, 73, 73);
    border-top: 2px solid rgb(255, 255, 255);
}

/* 어드레스 */
address{
    text-align: center;
}

address span{
    color: #fff;
    text-align: center;
    line-height: 4.8rem;
}



/* sns */
.sns{
    position: absolute;
    top: 160px;
    right: 6vw;
    /* 플렉스박스 */
    display: flex;
  }
  
  .sns li{
    width: 34px;
    height: 34px;
    background: url(../balsamic/img/sprites_logo.png) no-repeat;
    margin: 0 2px;
    /* 필터: 흑백 */
    filter: grayscale(100%);
    /* 손가락모양 */
    cursor: pointer;
    border-radius: 50%;
  }
  
  /* 오버시 칼라 */
  .sns li:hover{
    filter: grayscale(0);
  }
  
  /* 페이스북 */
  .sns li:first-child{
    background-position: -509px -430px;
  }
  /* 트의터 */
  .sns li:nth-child(2){
    background-position: -551px -430px;
  }
  /* 인스타 */
  .sns li:nth-child(3){
    background-position: -592px -429px;
  }