@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: 10px;
}
/* 전체배경 */
body {
    background-image: linear-gradient(to bottom, rgb(224, 224, 224) 30%, rgb(255, 241, 202) 70%);
}
*{
    /* outline: 1px dashed coral; */
}

/* 로고 */
.head{
    z-index: 99999999999999999999999999999999999999999;
    background-color: #fff;
    border-bottom: 2px solid #000;
    position: absolute;
}

h1{
    text-align: center;
    width: 100vw;
    height: 3rem;
    font-weight: bold;
}

h1 a{
    line-height: 3rem;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
}

.btn{
    position: absolute;
    right: 2vw;
    top: -2px;
}

.btn span{
    font-weight: bold;
    font-size: 3rem;
    line-height: 3rem;
}

/* 유저 */
.user{
    position: absolute;
    font-size: 2rem;
    left: 2vw;
    top: 6px;
}

/* 네비게이션 */
/* 햄버거버튼 보이기 */
.ham{
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 2vw;
    top: -3px;
}

.ham span{
    font-weight: bold;
    font-size: 3rem;
}

/* 11. GNB메뉴 보이기 */
body.on .gnb{
    display: block;
}


/* GNB메뉴박스 */
.gnb {
          transition: 1s;
        background-color: rgba(172, 37, 37, 0);
        /* 포지션이 있어야 z-index적용됨.
        gnb 하위메뉴가 위에 오도록 z-index를 높인다.
        */
        /* 왼쪽부터 시작하도록 크기지정 */
        width: 200px;
        height: 800px;
        /* 너무 위에 붙어있기에 띄어줌 */
        /* z-index: -3; */
        margin-top: 3rem;
        position: absolute;
        right: 0;
        display: none;
      }
      /* ul 초기화 */
      .gnb ul {
        /* 수직방향 진행 */
        flex-direction: column;
      }
  
      /* 상위 li 리스트요소 */
      .gnb>ul>li{
        /* float: left; */
        width: 200px;
        /* outline: 1px dashed blue; */
        text-align: center;
        /* height: 40px; */
        /* box-sizing: border-box; */
      }
      

      /* li사이에 구분선 넣기 */
      .gnb>ul>li+li::before{
        /* border-left: 1px solid #000; */
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        height: 20px;
        background-color: rgb(255, 94, 0);
        /* 젠틀앱솔루트: 부모박스 안에 그대로 있음 */
        margin-top: 10px;
        margin-left: 5px;
      }
      
      /* li 하위 a요소 */
      .gnb>ul>li>a{
        /* a요소 확장 */
        width: 100%;
        height: 100%;
        display: block;
        color: #000;
        text-decoration: none;
        font-size: 17px;
        line-height: 40px;
        /* 트랜지션:속시이지 */
        transition: .4s; 
        font-weight: bold;
      }

      /* 부모li에 마우스 오버시 상위메뉴 a요소 변경 */
      .gnb>ul>li:hover>a{
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
      }

      /* 
        [ 부모요소로부터 상속되는 속성 ]
        글자체, 글자색, 글자크기, 글자정렬 등 글자관련 속성들
      */

      /* 상단 메뉴 글자에 밑줄 애니 */
      .gnb>ul>li>a>span{
        position: relative;
        /* 부모자격 */
      }

      /* 가상요소로 밑줄 */
      .gnb>ul>li>a>span::after{
        content: '';
        display: block;
        position: absolute;
        bottom: -1px;
        left: 0;
        /* 부모는? 싸고있는 span */
        width: 0%; /* 마우스 오버시 100% */
        height: 2px;
        background-color: rgb(255, 94, 0);
        /* 트랜지션: 속시이지 - 돌아올 때 지연시간 없음 */
        transition: width .1s ease-out;
      }

      /* 상위메뉴 오버시 가상요소 밑줄애니 */
      .gnb>ul>li:hover>a>span::after{
        width: 100%;
        /* 오버시에 기다리는 시간 없애기 */
        transition-delay: 0.4s;
      }

      /* 서브메뉴 */
      .smenu{
        /* position: absolute; */
        /* -> 앱솔루트가 아니면 자리를 차지한다.
        서브메뉴가 밀고 나가도록 주석처리
        */
        width: 200px;
        /* 서브메뉴박스 숨기기 */
        height: 0; /* 1 */
        overflow: hidden; /* 2 */
        background-color: rgb(255, 214, 176);
        border-radius: 0 0 5px 5px;
        /* 주의사항 : 높이값 0으로 숨기는 박스는 위아래 패딩, 보더는
        숨겨지지 않으므로 쓰지 않는다
        디자인은 하위요소에서 할것 */
        /* 트랜지션 */
        transition: 0.4s;
      }

      /* 상위메뉴 li 오버시 서브메뉴 보이기 - 2번 li */
      .gnb>ul>li:nth-child(2):hover .smenu{
        height: 155px;
      }
      /* 상위메뉴 li 오버시 서브메뉴 보이기 - 3번 li */
      .gnb>ul>li:nth-child(3):hover .smenu{
        height: 85px;
      }

      /* 서브메뉴 ol */
      .smenu ol{
        padding: 15px;
        padding-top: 0;
      }
      /*서브메뉴 li */
      .smenu li{
      }

      .smenu a{
        display: block;
        width: 100%;
        height: 100%;
        font-size: 14px;
        color: rgb(0, 0, 0);
        text-decoration: none;
        line-height: 35px;
        /* 트랜지션 */
        transition: 0.2s;
        font-weight: bold;
      }

      /* 서브메뉴 오버시 */
      .smenu a:hover{
        background: rgb(255, 214, 176);
        color: rgb(148, 56, 56);
      }















/* 컨텐츠 시작 */
.cont{
    width: 100vw;
    height: 100vh;
}

.one{
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    animation: rkAni 8s ease-in-out infinite alternate;
    z-index: -1;
}

.one div img{
    box-shadow: 1px 1px 3px#000;
}

.one img{
    width: 50px;
    height: 100px;
    position: absolute;
    left: calc(50% - 25px);
    border-radius: 5px;
}

.one .fool img{
    top: -200px;
}

.rotate{
    top: -175px;
    left: 25px;
    height: 200px;
    position: absolute;
    transform-origin: center bottom;
}

/* 세계 */
.wor{
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
    position: relative;
    animation: rrkAni 8s ease-in-out infinite alternate;
    transform-origin: center center;
}
.wor img{
    position: relative;
    top: -25px;
}

/* 바보 */
.rotate1{
    transform: rotate(0deg);
}
.one .rotate1 .fool img{
    top: -50px;
}

/* 마술사 */
.rotate2{
    transform: rotate(30deg);
}
.one .rotate2 .mage img{
    top: -50px;
}

/* 여교황 */
.rotate3{
    transform: rotate(60deg);
}
.one .pri img{
    top: -50px;
}

/* 여제 */
.rotate4{
    transform: rotate(90deg);
}
.one .emp img{
    top: -50px;
    left: -25px;
}

/* 황제 */
.rotate5{
    transform: rotate(120deg);
}
.one .emper img{
    top: -50px;
    left: -25px;
}

/* 교황 */
.rotate6{
    transform: rotate(150deg);
}
.one .hir img{
    top: -50px;
    left: -25px;
}

/* 연인 */
.rotate7{
    transform: rotate(180deg);
}
.one .love img{
    top: -50px;
    left: -25px;
}

/* 전차 */
.rotate8{
    transform: rotate(210deg);
}
.one .cha img{
    top: -50px;
    left: -25px;
}

/* 힘 */
.rotate9{
    transform: rotate(240deg);
}
.one .str img{
    top: -50px;
    left: -25px;
}

/* 은둔자 */
.rotate10{
    transform: rotate(270deg);
}
.one .her img{
    top: -50px;
    left: -25px;
}

/* 운명의 수레바퀴 */
.rotate11{
    transform: rotate(300deg);
}
.one .wheel img{
    top: -50px;
    left: -25px;
}

/* 정의 */
.rotate12{
    transform: rotate(330deg);
}
.one .jus img{
    top: -50px;
    left: -25px;
}

/* 매달린 남자 */
.rotate13{
    transform: rotate(0deg);
}
.one .hang img{
    top: -200px;
    left: -25px;
}

/* 죽음 */
.rotate14{
    transform: rotate(40deg);
}
.one .death img{
    top: -200px;
    left: -25px;
}
/* 절제 */
.rotate15{
    transform: rotate(80deg);
}
.one .tem img{
    top: -200px;
    left: -25px;
}

/* 악마 */
.rotate16{
    transform: rotate(120deg);
}
.one .dev img{
    top: -200px;
    left: -25px;
}

/* 탑 */
.rotate17{
    transform: rotate(160deg);
}
.one .tower img{
    top: -200px;
    left: -25px;
}

/* 별 */
.rotate18{
    transform: rotate(200deg);
}
.one .star img{
    top: -200px;
    left: -25px;
}

/* 달 */
.rotate19{
    transform: rotate(240deg);
}
.one .moon img{
    top: -200px;
    left: -25px;
}

/* 해 */
.rotate20{
    transform: rotate(280deg);
}
.one .sun img{
    top: -200px;
    left: -25px;
}

/* 심판 */
.rotate21{
    transform: rotate(320deg);
}
.one .judge img{
    top: -200px;
    left: -25px;
}

/* 애니메이션 영역 */
.roro{
    animation: rrkAni 7s ease-in-out infinite forwards alternate;
}

@keyframes rkAni {
    to{
        transform: rotate(360deg);
    }
}

@keyframes rrkAni {
    to{
        transform: rotate(-360deg);
    }
}

/* 푸터 */
.info{
    height: 3rem;
    width: 100vw;
    position: absolute;
    bottom: 0;
    background-color: rgb(73, 73, 73);
    border-top: 2px solid rgb(255, 255, 255);
}

/* 어드레스 */
address{
    text-align: center;
}

address span{
    color: #fff;
    text-align: center;
    line-height: 4.5rem;
}



/* sns */
.sns{
    position: absolute;
    top: 7px;
    right: 1vw;
    /* 플렉스박스 */
    display: flex;
  }
  
  .sns li{
    width: 34px;
    height: 34px;
    background: url(../balsamic/img/sprites_logo.png) no-repeat;
    margin: 0 2px;
    /* 필터: 흑백 */
    filter: grayscale(100%);
    /* 손가락모양 */
    cursor: pointer;
    border-radius: 50%;
  }
  
  /* 오버시 칼라 */
  .sns li:hover{
    filter: grayscale(0);
  }
  
  /* 페이스북 */
  .sns li:first-child{
    background-position: -509px -430px;
  }
  /* 트의터 */
  .sns li:nth-child(2){
    background-position: -551px -430px;
  }
  /* 인스타 */
  .sns li:nth-child(3){
    background-position: -592px -429px;
  }