@charset "utf-8";
/* 도깨비 PJ 메인 페이지 미디어 쿼리 */

/************* 1070px 이하 시작 *************/
@media screen and (max-width: 1070px) {

*{
    /* outline: 1px dashed lightcoral; */
}

.gnb ul li{
    width: 11vw;
}

header ul li a{
    /* padding: 0; */
}

.top .start span{
    font-size: 2.5rem;
}


.job{
    flex-wrap: wrap;

}

.job .lo{
    width: 50%;
}

/* 워닝 부분 */
.animated-title{
    line-height: 0.2;
}






















}
/************* 1070px 이하 끝 *************/



/************* 870px 이하 시작 *************/
@media screen and (max-width: 870px) {


}
/************* 870px 이하 끝 *************/