@charset "utf-8";
/* 도깨비 PJ 메인 페이지 미디어 쿼리 */

/************* 1070px 이하 시작 *************/
@media screen and (max-width: 1070px) {

*{
    /* outline: 1px dashed lightcoral; */
}

.gnb ul li{
    width: 11vw;
}


.top .start span{
    font-size: 2.5rem;
}


.job{
    flex-wrap: wrap;

}

.job .lo{
    width: 50%;
    
}

.job .lo .toss{
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}

/* 워닝 부분 */
.animated-title{
    line-height: 0.2;
}
}
/************* 1070px 이하 끝 *************/



/************* 870px 이하 시작 *************/
@media screen and (max-width: 870px) {
/* 언어 영역 안 보이게 하기 */
.lang{
    display: none;
}

/* 로고 가운대로 오기 */
.head h1{
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 겜 스타트 버튼 작게 만들기 */
.top .start{
    width: 150px;
    height: 150px;
    bottom: -100px;
}

.top .start span{
    font-size: 1.8rem;
  }

  /* build 글자가 너무 붙어 있어서 때 줌 */
.build{
    margin-top: 20px;
    position: relative;
    display: block;
}

/* 화살표 위치 재조정 */
.cont .int h3{
    top: 93vh;
}

/* 그림과 글자들 수직 방향으로 만들기 */
.gint{
    flex-direction: column;
}

/* 글자와 그림 순서 바꾸기 */
.gint1, .gint3{
    display: flex;
    flex-direction: column-reverse
}

/* 글자와 그림 크기 재조정 */
.gint img{
    width: 90vw;
}

.gint .word span{
    width: 80vw;
}

/* 파도치는 글자들 크기 재조정 */
.test_obj span {
    font-size: 12vw;
}

/* 직업 선택창 수직화 */
.job{
    flex-direction: column;
    align-content: center
}

/* 보스 이미지 수직화 */
.boss{
    display: flex;
    flex-direction: column;

}

/* 보스 상자 크기 크기 및 설정 재조정 */
.boss .boss1, .boss .boss2, .boss .boss3{
    display: flex;
    position: relative;
    height: 60vh;
}

/* gif와 비디오 크기 및 설정 재조정 */
.boss img, .boss video{
    width: 90vw;
    transform: translateY(-60%);
    object-fit: cover;
}

/* 보스 상자 글자 크기 재조정 */
.boss span{
/* position: absolute; */
transform: translateY(63%);
}

/* 굿럿 상자 위치 재조정 */
.good{
    top: -30.5vh;
}

/* 큐브 글자 크기 조정 */
.more .text{
    font-size: 3.5vw;
}

/* 회사랑 내 소개 글자 및 그림들 크기 조정 */
.rint .pro span{
    font-size: 12vw;
}

.relo{
    height: 85vh;
    position: relative;


    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.satellite_box{
    left: -80px;
}


.info{
    margin-top: 65vh;
}

.bounce{
    bottom: -57vh;
}

.rint .rab, .snow{
    bottom: -64.7vh;
}

.house{
    display: none;
}

.info ul{
/* 플랙스박스 */
display: flex;
/* 랩핑박스 */
flex-wrap: wrap;

/* 수평정렬 */
justify-content: space-evenly;
/* 수직정렬(여러줄) */
align-content: center;
margin-top: 10px;
}

/* brk뒤의 li 마진탑 */
.t7 li.brk~li{
margin-top: 5px;
}

/* 자체 응용 - 줄바꿈을 위한 li */
/* 원리는 줄바꿈을 할 부분에서 가로크기 100%를 차지하게 해서 줄바꿈 효과를 준다. */
.t7 li.brk{
/* width: 100%; */
flex-basis: 100%;
/* flex-basis는 width와 같다. */

/* 기존디자인을 없애고 안보이게 처리함 */
height: 0;
border: none;
}

.info img{
    bottom: -5px;
}

.sns{
    top: 140px;
    left: calc(50% - 80px);
    position: absolute;
    width: 160px;
}

address{
    top: -5vh;
    position: relative;
}

.container1, .container2{
    
}











    /* 9. GNB메뉴 변경 */
    .gnb {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100vw;
        height: 100vh;
        background-color: #000000b3;
        /* 처음에 안보임! */
        display: none;
    }
    .gnb ul{
        /* 세로방향 */
        flex-direction: column;
        margin-top: 20vh;
        /* 위에서 20% 보이는 위치로 이동! */
    }
    .gnb>ul>li>a{
        font-size: 5vh;
        line-height: 10vh;
        /* 메뉴6개 - 보이는 화면 높이값의 60% 차지 */
        text-align: center;
        color: #fff;
    }
    /* 서브메뉴, 서브배경 모두 없앰! */
    .smenu,.gnb>ul>li.sm::after{
        display: none;
    }
    /* 상위메뉴 오버시 밑줄없앰! */
    .gnb>ul>li:hover>a{
        border-bottom-color: transparent;
    }
    /* 10. 햄버거버튼 보이기 */
    .ham{
        display: block;
        z-index: 99999999;
    }
    /* 11. GNB메뉴 보이기 */
    body.on .top .gnb{
        display: block;
    }

    /* 12. 캐릭터박스 GNB메뉴 보일때 아래로 내리기
    - 트랜스폼 애니메이션으로 위치 위로 올라옴! */
    body.on .cat{   
        z-index: -1;
    }

    /* 13. GNB메뉴 보일때 스크롤 없앰! */
    body.on{
        overflow: hidden;
    }




















}
/************* 870px 이하 끝 *************/