@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* 공사중 */
*{
    /* outline: 1px dashed hotpink;
    box-sizing: border-box; */
}




html{
    font-size: 10px;
}

/* 헤더 영역 */
.head{
    display: flex;
    height: 5vh;
    width: 100%;
    border-bottom: 2px solid #000;
    position: fixed;
    justify-content: space-between;
    background-color: #fff;
}

/* 로고 */
header h1 img{
    height: 5vh;
}

/* 네비게이션 */
header ul{
    display: flex;
    line-height: 5vh;
}

header ul li a{
    display: block;
    padding: 0 15px;
    font-weight: bold;
    font-size: 1.3rem;
}






.gnb {
    z-index: 999;
    /* 포지션이 있어야 z-index적용됨.
    gnb 하위메뉴가 위에 오도록 z-index를 높인다.
    */
    /* 트랜지션:속시이지 */
    transition: .3s; 
  }

  /* GNB 오버시 나올 전체 배경 가상요소 */
  .gnb::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    /* left,top의 부모는? .gnb */
    height: 0; /* 170px -> 오버시 */
    background-color: rgba(255, 255, 255, 0.9);
    /* 트랜지션 */
    transition: 0.3s;
    border-bottom: 2px solid #000;
  }

  /* GNB 오버시 가상요소 보이기 */
  .gnb:hover::after{
    height: 200px;
  }

  /* ul 초기화 */
  .gnb ul {
    width: 750px;
    margin: 0 auto;
  }
  
  /* 가상요소로 clear설정하기 */
  .gnb ul::after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* 상위 li 리스트요소 */
  .gnb>ul>li{
    float: left;
    width: 150px;
    text-align: center;
  }
  
  /* li 하위 a요소 */
  .gnb>ul>li>a{
    /* a요소 확장 */
    width: 100%;
    height: 100%;
    /* 트랜지션:속시이지 */
    transition: .3s; 
  }

  /* 상단 메뉴 글자에 밑줄 애니 */
  .gnb>ul>li>a>span{
    position: relative;
    /* 부모자격 */
  }

  /* 가상요소로 밑줄 */
  .gnb>ul>li>a>span::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    /* 부모는? 싸고있는 span */
    width: 0%; /* 마우스 오버시 100% */
    height: 2px;
    background-color: rgb(0, 0, 0);
    /* 트랜지션: 속시이지 - 돌아올 때 지연시간 없음 */
    transition: width .1s ease-out;
  }

  /* 상위메뉴 오버시 가상요소 밑줄애니 */
  .gnb>ul>li:hover>a>span::after{
    width: 100%;
    /* 오버시에 기다리는 시간 없애기 */
    transition-delay: .3s;
  }

  /* 서브메뉴 */
  .smenu{
    position: absolute;
    width: 150px;
    /* 서브메뉴박스 숨기기 */
    height: 0; /* 1 */
    overflow: hidden; /* 2 */
    /* 주의사항 : 높이값 0으로 숨기는 박스는 위아래 패딩, 보더는
    숨겨지지 않으므로 쓰지 않는다
    디자인은 하위요소에서 할것 */
    /* 트랜지션 */
    transition: 0.3s;
    /* 가상요소 배경보다 위 */
    z-index: 1;
  }

  /* 상위메뉴 li 오버시 서브메뉴 보이기 */
  .gnb:hover>ul>li .smenu{
    height: 200px;
  }

  /* 서브메뉴 ol */
  .smenu ol{
    padding: 15px;
    padding-top: 0;
  }
  /*서브메뉴 li */
  .smenu li{
  }

  .smenu a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    text-decoration: none;
    line-height: 35px;
    /* 트랜지션 */
    transition: 0.2s;
  }

  /* 서브메뉴 오버시 글자에 밑줄 애니 */
  .smenu>ol>li>a>span{
    position: relative;
    /* 부모자격 */
  }

  /* 가상요소로 밑줄 */
  .smenu>ol>li>a>span::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    /* 부모는? 싸고있는 span */
    width: 0%; /* 마우스 오버시 100% */
    height: 2px;
    background-color: rgb(0, 0, 0);
    /* 트랜지션: 속시이지 - 돌아올 때 지연시간 없음 */
    transition: width .2s ease-out;
  }

  /* 상위메뉴 오버시 가상요소 밑줄애니 */
  .smenu>ol>li:hover>a>span::after{
    width: 100%;
    /* 오버시에 기다리는 시간 없애기 */
    transition-delay: .3s;
  }

/* 상단 메뉴 글자에 밑줄 애니 */
.head>ul>li>a>span{
    position: relative;
    /* 부모자격 */
  }
  /* 가상요소로 밑줄 */
  .head>ul>li>a>span::after{
    content: '';
    display: block;
    position: absolute;
    /* 부모는 span */
    bottom: -4px;
    left: 0;
    width: 0; /* 마우스 오버 시 100% */
    height: 2px;
    background-color: rgb(0, 0, 0);
    /* 돌아올때 지연시간 없음 */
    transition: width .2s ease-out;
    /* transition: 0.4s; */
  }

  /* 상위매뉴 오버시가상요소 밑줄 애니 */
  .head>ul>li:hover>a>span::after{
    width: 100%;
    /* 오버시에 기다리는 시간 0.4초 */
    transition: 0.3s ease-out;
  }

/* 메인영역 시작 */
.cont{
    padding-top: 5vh;
}

/* 백그라운드 이미지 영역 */
.cont .top{
    width: 100%;
    height: 74vh;
    background: url(../발사믹/img/180cf1b1d2123e14e.gif) no-repeat bottom/cover;
    border-bottom: 10px solid rgb(255, 255, 0);
}

/* 게임 간단 설명글 */
.cont .int h2{
    padding-top: 2vh;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

/* re-logic */
.cont .int p{
    padding: 1vh;
    font-size: 3rem;
    text-align: center;
    margin-top: 3.5vh;
}

/* 라인 */
.line{
    width: 2px;
    height: 6vh;
    background-color:#000;
    margin: 0 auto;
    margin-top: 80px;
}

/* 소개글 */
.gint{
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: space-evenly
}

/* 소개글 글자 글로우 현상 */
.dig{
        /* 그림자를 이용한 Glow 효과 */
        text-shadow: 0 0 4px rgb(0, 255, 34);
        /* 애니메이션: 이시이지반방마 */
        animation: titAni1 .6s ease-in infinite alternate;
}

/* 타이틀 글로우 효과 애니메이션 키프레임 */
@keyframes titAni1{
        to{
            text-shadow: 0 0 18px rgb(113, 253, 131);
        }
}/* 키프레임 */

.fight{
    /* 그림자를 이용한 Glow 효과 */
    text-shadow: 0 0 4px rgb(255, 70, 23);
    /* 애니메이션: 이시이지반방마 */
    animation: titAni2 .6s ease-in .3s infinite alternate;
}

/* 타이틀 글로우 효과 애니메이션 키프레임 */
@keyframes titAni2{
    to{
        text-shadow: 0 0 18px rgb(255, 107, 70);
    }
}/* 키프레임 */

.build{
    /* 그림자를 이용한 Glow 효과 */
    text-shadow: 0 0 4px rgb(255, 166, 0);
    /* 애니메이션: 이시이지반방마 */
    animation: titAni3 .6s ease-in .6s infinite alternate;
}

/* 타이틀 글로우 효과 애니메이션 키프레임 */
@keyframes titAni3{
    to{
        text-shadow: 0 0 18px rgb(255, 195, 84);
    }
}/* 키프레임 */

.int p{
    /* 그림자를 이용한 Glow 효과 */
    text-shadow: 0 0 4px rgb(0, 26, 255);
    /* 애니메이션: 이시이지반방마 */
    animation: titAni4 .8s ease-in infinite alternate;
    font-family: 'Press Start 2P', cursive;
}

/* 타이틀 글로우 효과 애니메이션 키프레임 */
@keyframes titAni4{
    to{
        text-shadow: 0 0 18px rgb(85, 102, 255);
    }
}/* 키프레임 */


/* 글 */
.gint .word span{
    font-family: 'Sunflower', sans-serif;
    font-size: 5vh;
    justify-content: center;
    width: 40vw;
    display: block;
    padding: 20px 0;
    text-align: center;
}

/* 그림 */
.gint img{
    width: 40vw;
    height: 43vh;
    border-radius: 10px;
    object-fit: cover;
}

/* gif 보더 */
.pic1{
    border: 1vh solid lightgreen;
    background-color: lightgreen;
    box-sizing: border-box;
    border-radius: 15px;
    height: 45vh;
}
.pic2{
    border: 1vh solid lightskyblue;
    background-color: lightskyblue;
    box-sizing: border-box;
    border-radius: 15px;
    height: 45vh;
}
.pic3{
    border: 1vh solid hotpink;
    background-color: hotpink;
    box-sizing: border-box;
    border-radius: 15px;
    height: 45vh;
}
.pic4{
    border: 1vh solid lightcoral;
    background-color: lightcoral;
    box-sizing: border-box;
    border-radius: 15px;
    height: 45vh;
}

/* 직업소개 */
.job{
    margin-top: 100px;
    display: flex;

}


/* 회사랑 내 소개 */
.rint{
    width: 100%;
}


/* 리로직 로고 */
.relo{
    display: flex;
    align-items: center;
    justify-content: center
}

/* plus */
.plus{
    height: 50px;
    margin: 0 50px;
}

/* 내 사진 */
.me{
  height: 30vh;
}



/* 푸터 */
.info{
    width: 100%;
    height: 200px;
    background-color: rgb(39, 39, 39);
}

/* 하단 네비 */
.info ul{
    display: flex;
    justify-content: space-evenly;
    transform: translateY(20px);
}

.info ul li a{
  color: #fff;
  display: block;
  height: 4vh;
  line-height: 4vh;
}

.info ul li a:hover{
  text-decoration: underline;
}

/* 하단 이미지 */
.info img{
  position: relative;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
}


/* 어드레스 */
address{
  color: #fff;
    text-align: center;
    transform: translateY(100px);
}





















