@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap');

/* 공사중 */
*{
    outline: 1px dashed hotpink;
    box-sizing: border-box;
}




html{
    font-size: 10px;
}

/* 헤더 영역 */
.head{
    display: flex;
    height: 5vh;
    width: 100%;
    border-bottom: 2px solid #000;
    position: fixed;
    justify-content: space-between;
    background-color: #fff;
}

/* 로고 */
header h1 img{
    height: 5vh;
}

/* 네비게이션 */
header ul{
    display: flex;
    line-height: 5vh;
}

header ul li a{
    display: block;
    padding: 0 15px;
    font-weight: bold;
    font-size: 1.1rem;
}

/* 상단 메뉴 글자에 밑줄 애니 */
.head>ul>li>a>span{
    position: relative;
    /* 부모자격 */
  }
  /* 가상요소로 밑줄 */
  .head>ul>li>a>span::after{
    content: '';
    display: block;
    position: absolute;
    /* 부모는 span */
    bottom: -4px;
    left: 0;
    width: 0; /* 마우스 오버 시 100% */
    height: 2px;
    background-color: rgb(0, 0, 0);
    /* 돌아올때 지연시간 없음 */
    transition: width .2s ease-out;
    /* transition: 0.4s; */
  }

  /* 상위매뉴 오버시가상요소 밑줄 애니 */
  .head>ul>li:hover>a>span::after{
    width: 100%;
    /* 오버시에 기다리는 시간 0.4초 */
    transition: 0.3s ease-out;
  }

/* 메인영역 시작 */
.cont{
    padding-top: 5vh;
}

/* 백그라운드 이미지 영역 */
.cont .top{
    width: 100%;
    height: 74vh;
    background: url(../발사믹/img/180cf1b1d2123e14e.gif) no-repeat bottom/cover;
    border-bottom: 10px solid rgb(255, 255, 0);
}

/* 게임 간단 설명글 */
.cont .int h2{
    padding-top: 3vh;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

/* re-logic */
.cont .int p{
    padding: 1vh;
    font-size: 4rem;
    text-align: center;
    margin-top: 2vh;
}

/* 라인 */
.line{
    width: 2px;
    height: 6vh;
    background-color:#000;
    margin: 0 auto;
    margin-top: 80px;
}

/* 소개글 */
.gint{
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: space-evenly
}

/* 글 */
.gint .word span{
    font-family: 'Sunflower', sans-serif;
    font-size: 5vh;
    justify-content: center;
    width: 40vw;
    display: block;
    padding: 20px 0;
    text-align: center;
}

/* 그림 */
.gint img{
    width: 40vw;
    height: 43vh;
    border-radius: 10px;
    object-fit: cover;
}

/* gif 보더 */
.pic1{
    border: 1vh solid lightgreen;
    background-color: lightgreen;
    box-sizing: border-box;
    border-radius: 15px;
    height: 45vh;
}
.pic2{
    border: 1vh solid lightskyblue;
    background-color: lightskyblue;
    box-sizing: border-box;
    border-radius: 15px;
    height: 45vh;
}
.pic3{
    border: 1vh solid hotpink;
    background-color: hotpink;
    box-sizing: border-box;
    border-radius: 15px;
    height: 45vh;
}
.pic4{
    border: 1vh solid lightcoral;
    background-color: lightcoral;
    box-sizing: border-box;
    border-radius: 15px;
    height: 45vh;
}

/* 직업소개 */
.job{
    margin-top: 100px;
    display: flex;

}


/* 회사랑 내 소개 */
.rint{
    width: 100%;
}


/* 리로직 로고 */
.relo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


/* 내 사진 */
.me{

}



/* 푸터 */
























